:root {
  --background: #a675a1;
  --header: #25283d;
}
body {
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--header);
  text-shadow: 4px 3px 3px #aaaaaa;
  font-family: Sunshiney, sans-serif;
  font-weight: 100;
  font-size: 400%;
}

.quiz-question {
  display: none;
}

.quiz-question.active {
  display: block;
  text-align: center;
}

.quiz-question.active .quiz-answers {
  display: flex;
  flex-direction: row;
}
